html, body {
    color: #616161;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
}

h1 {
    margin: 30px 0;
    letter-spacing: 0.8px;
}
p {
    font-size: 16px;
}
q {
    font-size: 14px;
}
hr {
    margin: 10px;
}

#logo {
    padding: 35px;
    background-color: #607D8B;
}
#content-wrapper {
    padding: 0;
}
.tab-content {
    background-color: #F5F5F5;    
}

.nav-tabs>li>a,
.nav-tabs>li>a:hover,
.nav-tabs>li>a:active,
.nav-tabs>li>a:visited,
.nav-tabs>li>a:focus {
    border: none;
    text-transform: none;
    background-color: #455A64;
    padding: 35px 0;
    margin: 0;
}
#nav-menu {
    background-color: #455A64;
}

#navbar-content ul li a {
    font-size: 15px;  
    border: none;
    padding: 20px;
    color: #B3BBC0;
}
#psa-box {
    margin-bottom: 10px;
}
#psa-box, #psv-box {
    padding: 0;
}
#psa-box > div.box-title {
    background-color: #8BC34A;  
}
#psv-box > div.box-title {
    background-color: #2196F3;
}
.box-title {
    padding-top: 10px;
    color: white;
}
.box-content {
    background-color: white;
    padding: 10px 20px;
}
.box-link {
    text-align: center;
}
.heavy-text {
    padding: 40px 40px 20px;   
}

.row {
    padding: 30px 0;
}

.direction {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    width: 280px;
    height: auto;
    color: #fff;
    float: left;
    background-color: #3E50B4; 
    margin: 15px;
    padding: 10px 5px;
}
#executive {
    display: block;
    background-color: #FE5621;
    float: none;
    margin: 20px auto;
}
.department {
    text-transform: none;
    list-style: none;
}

.bg-white {
    background-color: white;
}
.nice-shadow {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);    
}
#support > div > div > img {
    width: 70%;
}
#speaking-logo {
    padding-top: 15%;
}

.control-label {
    font-size: 16px;
}

textarea.form-control {
    height: 200px;
}
.nav-tabs>li {
    margin: 0;
}
.nav-tabs>li.active>a {
    background-color: #ffffff;
}

#footer {
    padding: 20px 0 15px 0;
    color: #eeeeee; 
    background-color: #222222; 
}

#footer p {
    font-size: 13px;
}

#footer hr {
    border-top: 1px solid #616161;
}
